.quarter-panel {
  .quarter-item {
    float: left;
    width: 25%;
    height: 64px;
    padding: 1.5px;

    .quarter-btn {
      height: 61px;
      line-height: 61px;
      font-size: 14px;
      color: #000;

      &.selected {
        color: white;
        background-color: #3BB1F0;
        border-radius: 3px;
      }
    }
  }
}
