@font-face {
  font-family: 'BIfont';
  src: url('//at.alicdn.com/t/font_1470279393_9091141.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1470279393_9091141.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1470279393_9091141.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1470279393_9091141.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1470279393_9091141.svg#BIfont') format('svg'); /* iOS 4.1- */
}
:global {
  @import "bootstrap/index.scss";
  @import "_icon.scss";

  .main-container {
    margin: 0 -15px;
  }
}
