
ul.filter-list {
  li {
    margin-top: 13px;
    margin-bottom: 20px;
  }
  .filter-name {
    margin-bottom: 10px;
    &:before {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 0.5px solid #DDD;
      min-height: 1px;
      margin-top: 10px;
      margin-bottom: -10px;
    }
    span {
      padding: 0 10px;
      font-size: 15px;
      line-height: 21px;
      background-color: white;
      color: #999;
    }
  }
}
.btn {
  line-height: 32px;
  border-radius: 100px;
  border: 1px solid #CCC;
  background-color: #FBFBFB;

  &.btn-primary {
    border: none;
    background-color: #3BB1F0;
    color: white;
  }
}
