.modal-mask {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(9, 76, 112, .4);
  z-index: 999;
  overflow: hidden;

  &.active {
    display: block;
  }
}

.modal {
  position: relative;
  background-color: white;
  text-align: center;
  color: #666;
  padding: 15px 15px 0;

  .close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #3BB1F0;
  }
  .header {
    font-size: 18px;
    line-height: 25px;
    color: #333;
  }

  .footer {
    font-size: 17px;
    line-height: 40px;
    color: #999;
    box-shadow: 0 -0.5px 0 0 #ccc;

    & > div:first-child {
      box-shadow: 0 0 1px 0 #ccc;
    }
  }
}
