.day-btn {
  height: 61px;
  padding: 5.5px 0;
  text-align: center;
  cursor: pointer;

  .date-text {
    min-height: 14px;
    font-size: 10px;
    line-height: 14px;
  }
  .date {
    min-height: 23px;
    font-size: 14px;
    line-height: 23px;
  }
  .action-text {
    min-height: 14px;
    font-size: 10px;
    line-height: 14px;
  }
}
