.happy-day {
  color: #FF7300;
}

.bar {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding-bottom: 6px;

  .bar-item {
    float: left;
    width: 14.2857%;
    font-size: 10px;
  }
}

.day-panel {
  .day-item {
    float: left;
    width: 14.2857%;
    height: 64px;
    padding: 1.5px;

    &.other-month {
      color: #ccc;
    }
    .selected {
      color: #fff;
      background-color: #3BB1F0;
      border-radius: 3px;
    }
  }
}
